*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#fb88b4;
    --color11:#fb88b437;
    --color2:#B7C9F2;
    --color3:#9195F6;
    --color4: #F9F07A;
    --padding:8px;
    --margin:20px;
}

body{
    height: 100vh;
    background-color: var(--color11);
}

h1{
    font-size:2.5rem;

}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1rem;
}
ul{
    list-style: none;
}
a{
    font-size: 0.9rem;
    text-decoration: none;
}

li{
    color: white;
}
/* utility */
.container{
    margin-top: 1vh;
    max-width: 90vw;
    margin-inline: auto;
    background-color: var(--color2);
    color: white;
    padding: var(--padding);
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-link{
    color: white;

}
.hover-link:hover{
    color: rgba(192, 56, 164, 0.724);
}


/* nodes */
/* navigation bar */
.nav1{
    /* margin-top: calc(var(--margin)-2); */
    position: fixed;
    width: 100%;
    top: 1px;
    gap: 4vw;
    justify-content: space-between;
    
    background-color: var(--color3);
}

.logo{
    width:20%;
    mix-blend-mode:darken;
}

.nav-list{
    margin-right: 5vw;
    gap: 2vw;
}

/* home */

.home-container{
    margin-top: 20vh;
    padding: var(--padding);
    background-color: var(--color2);
    justify-content: space-around;
}

.profile{
    width: 40%;
}

.profile-pic{
   width: 70%;
   border: 2px solid rgba(255, 255, 255, 0.708);
   border-radius:4px;
   box-shadow: 1px 1px 5px white;
   transition: 0.2s ease-in-out;
}
.profile-pic:hover{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.482);
    opacity: 0.9;
    transform: translate(1%,-2%);
}

.profile-description{
     width: 50%;
     color: black;
     transition: 0.2s ease-in-out;
}
.profile-description:hover{
    opacity: 0.7;
}
.pdh1 span{
    color: var(--color4);
    font-size: 3rem;
    font-weight: bolder;
}

.pdp{
    transition: 0.2s ease-in-out;
}
.pdp:hover{
    opacity: 1;
    color: white;
}


/* About */
.about-description{
    margin-top: var(--margin);
    padding-block: 20px;
    text-align: center;
}
.about-description p{
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    width: 65%;
    margin-inline: auto;
}
